@import "tailwindcss";

* {

    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

.container {
    width: 100%;
    max-width: 81.5rem;
    margin-inline: auto;
    padding-inline: clamp(1rem, 4vw, 2rem);
}


.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* Delay classes */
.fade-in-delay-1 { transition-delay: 0.1s; }
.fade-in-delay-2 { transition-delay: 0.2s; }
.fade-in-delay-3 { transition-delay: 0.3s; }
.fade-in-delay-4 { transition-delay: 0.4s; }
.fade-in-delay-5 { transition-delay: 0.5s; }
